<%= form_with(model: @insurance, url: new_homeowner_insurance_path, data: { turbo: false }) do |form| %>
  <% if @insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insurance.errors.count, "error") %> were found</h2>

      <ul>
      <% @insurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, required: true %>
        </div>

        <div class="field">
          <%= form.label :last_name %>
          <%= form.text_field :last_name %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <%= form.label :phone %>
          <%= form.text_field :phone %>
        </div>

        <div class="field">
          <%= form.label :assessment, 'Municipal Evaluation of the property' %>
          <%= form.number_field :assessment, required: true %>
        </div>
      </div>

      <div class="flex flex-col">
        <div class="field">
          <%= form.label :address %>
          <%= form.text_field :address %>
        </div>

        <div class="field">
          <%= form.label :postal_code %>
          <%= form.text_field :postal_code %>
        </div>

        <div class="field">
          <%= form.label :city %>
          <%= form.text_field :city %>
        </div>

        <div class="field">
          <%= form.label :province %>
          <%= form.text_field :province %>
        </div>

        <div class="field">
          <%= form.label :brokerage_fees %>
          <%= form.text_field :brokerage_fees %>
        </div>
      </div>
    </div>

    <%= yield form %>
  </div>

  <div class="actions">
    <%= form.submit 'Get a quote' %>
  </div>
<% end %>
