<div class="flex flex-col">
  <div class="flex flex-row w-100 gap">
    <div class="flex flex-col w-50">
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, required: true %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, required: true %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, required: true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, required: true %>
      </div>

      <div class="field">
        <%= form.label :assessment, 'Municipal Evaluation of the property' %>
        <%= form.number_field :assessment, required: true %>
      </div>
    </div>

    <div class="flex flex-col w-50">
      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, required: true %>
      </div>

      <div class="field">
        <%= form.label :zip %>
        <%= form.text_field :zip, required: true %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city, required: true %>
      </div>

      <div class="field">
        <%= form.label :province %>
        <%= form.text_field :province, required: true %>
      </div>

      <div class="field">
        <%= form.label :brokerage_fees %>
        <%= form.text_field :brokerage_fees %>
      </div>
    </div>
  </div>
</div>
